#define LAYER_MAC 0
#define LAYER_WINDOWS 1
#define LAYER_SYMB 2
#define LAYER_NMPAD 3
#define LAYER_GAMING 4
#define LAYER_MOUSE 5

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
	keymap {
		compatible = "zmk,keymap";
		layer_0 {
			bindings = <
				&sys_off
				&to LAYER_WINDOWS       &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4     &kp NUMBER_5      &kp MINUS        &kp EQUAL         &kp NUMBER_6                &kp NUMBER_7                  &kp NUMBER_8            &kp NUMBER_9                    &kp NUMBER_0  &mt LA(BACKSPACE) BACKSPACE
				&mt TILDE ESCAPE        &kp Q        &kp W        &kp E        &kp R            &kp T             &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp Y                       &kp U                         &kp I                   &kp O                           &kp P         &kp RIGHT_SHIFT
				&mt LG(TAB) TAB         &mt LG(A) A  &mt LG(S) S  &kp D        &lt LAYER_SYMB F &lt LAYER_NMPAD G                                    &lt LAYER_NMPAD H           &lt LAYER_SYMB J              &kp K                   &kp L                           &kp SEMICOLON &kp SINGLE_QUOTE
				&mt CAPSLOCK LEFT_SHIFT &mt LG(Z) Z  &mt LG(X) X  &mt LG(C) C  &mt V LS(LG(V))  &mt LC(LS(Z)) B   &mo LAYER_MOUSE  &tog LAYER_GAMING &kp N                       &kp M                         &kp COMMA               &kp PERIOD                      &kp SLASH     &kp RETURN
				&kp LEFT_CONTROL        &kp LEFT_GUI &kp LEFT_ALT &mkp LCLK    &mkp RCLK                                                                                         &mt LA(LEFT_ARROW) LEFT_ARROW &mt UP_ARROW DOWN_ARROW &mt RA(RIGHT_ARROW) RIGHT_ARROW &kp RIGHT_GUI &kp RETURN
				                                                                                &kp LG(C)         &kp LG(V)        &mo LAYER_SYMB    &kp DELETE
				                                                               &kp SPACE        &kp RETURN        &mo LAYER_NMPAD  &mo LAYER_NMPAD   &mt LA(BACKSPACE) BACKSPACE &kp SPACE
				                                                                                                  &kp QUESTION     &kp PERIOD
			>;
		};
		layer_1 {
			bindings = <
				&sys_off
				&to LAYER_MAC &trans      &trans      &trans      &trans          &trans          &trans          &trans           &trans &trans                            &trans      &trans                              &trans &mt RC(BACKSPACE) BACKSPACE
				&trans        &trans      &trans      &trans      &trans          &trans          &trans          &trans           &trans &trans                            &trans      &trans                              &trans &trans
				&mt TAB TAB   &mt A LC(A) &mt RC(S) S &trans      &mt LC(F) F     &trans                                           &trans &trans                            &mt LG(L) L &trans                              &trans &trans
				&trans        &mt LC(Z) Z &mt X RC(X) &mt LC(C) C &mt LC(LS(V)) V &mt LC(LS(Z)) B &to LAYER_MOUSE &to LAYER_GAMING &trans &trans                            &trans      &trans                              &trans &trans
				&trans        &trans      &trans      &mkp LCLK   &mkp RCLK                                                               &mt LC(LS(LEFT_ARROW)) LEFT_ARROW &trans      &mt RC(RS(RIGHT_ARROW)) RIGHT_ARROW &trans &trans
				                                                                  &kp K_COPY      &kp K_PASTE     &trans           &trans
				                                                  &trans          &trans          &trans          &trans           &trans &trans
				                                                                                  &trans          &trans
			>;
		};
		layer_2 {
			bindings = <
				&sys_off
				&to LAYER_MAC  &kp LC(LA(NUMBER_1)) &kp LC(LA(NUMBER_2)) &kp LC(LA(NUMBER_3)) &kp LC(LA(NUMBER_4)) &kp LC(LS(NUMBER_8))  &kp LC(LS(NUMBER_9)) &kp LC(LA(NUMBER_1)) &kp LC(LA(NUMBER_2)) &kp LC(LA(NUMBER_3)) &kp LC(LA(NUMBER_4))  &kp LC(LS(NUMBER_8)) &kp LC(LS(NUMBER_9)) &none
				&kp UNDERSCORE &kp EXCLAMATION      &kp DOUBLE_QUOTES    &kp LEFT_BRACE       &kp RIGHT_BRACE      &kp PIPE              &kp RIGHT_BRACE      &kp LEFT_BRACKET     &kp PIPE             &kp LEFT_BRACE       &kp RIGHT_BRACE       &kp DOUBLE_QUOTES    &kp EXCLAMATION      &kp UNDERSCORE
				&none          &kp HASH             &kp DOLLAR           &kp LEFT_PARENTHESIS &trans               &kp RIGHT_PARENTHESIS                                           &kp LEFT_PARENTHESIS &trans               &kp RIGHT_PARENTHESIS &kp DOLLAR           &kp HASH             &none
				&none          &kp PERCENT          &kp CARET            &kp LEFT_BRACKET     &kp RIGHT_BRACKET    &kp TILDE             &kp SLASH            &to LAYER_GAMING     &none                &kp LEFT_BRACE       &kp RIGHT_BRACE       &kp CARET            &kp PERCENT          &none
				&none          &none                &none                &none                &none                                                                                                     &none                &none                 &none                &none                &none
				                                                                                                   &kp K_STOP            &kp K_PLAY_PAUSE     &none                &none
				                                                                              &kp K_VOLUME_DOWN    &kp K_MUTE            &none                &kp K_PREVIOUS       &none                &none
				                                                                                                                         &kp K_VOLUME_UP      &kp K_NEXT
			>;
		};
		layer_3 {
			bindings = <
				&sys_off
				&to LAYER_MAC &kp CARET &kp AMPERSAND &kp ASTERISK   &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &none  &none  &none  &kp KP_DIVIDE  &kp KP_MULTIPLY &kp KP_MINUS &none        &none
				&kp TAB       &kp Y     &kp U         &kp I          &kp O                &kp P                 &none  &none  &none  &kp NUMBER_7   &kp NUMBER_8    &kp NUMBER_9 &kp KP_PLUS  &none
				&none         &kp H     &kp J         &kp K          &kp L                &trans                              &trans &kp NUMBER_4   &kp NUMBER_5    &kp NUMBER_6 &kp NUMBER_0 &trans
				&none         &kp N     &kp M         &kp COMMA      &kp PERIOD           &kp BACKSLASH         &none  &none  &none  &kp NUMBER_1   &kp NUMBER_2    &kp NUMBER_3 &kp KP_ENTER &none
				&none         &none     &none         &kp LEFT_ARROW &kp UP_ARROW                                                    &kp DOWN_ARROW &kp RIGHT_ARROW &none        &none        &none
				                                                                          &trans                &trans &trans &trans
				                                                     &trans               &trans                &trans &trans &trans &trans
				                                                                                                &trans &trans
			>;
		};
		layer_4 {
			bindings = <
				&sys_off
				&to LAYER_MAC &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5 &trans &trans &kp NUMBER_6 &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_0 &trans
				&trans        &trans       &trans       &trans       &trans       &trans       &trans &trans &trans       &trans       &trans       &trans       &trans       &trans
				&trans        &kp A        &kp S        &kp D        &kp F        &kp G                      &kp H        &kp J        &trans       &trans       &trans       &trans
				&trans        &kp Z        &kp X        &kp C        &kp V        &kp B        &trans &trans &kp N        &trans       &trans       &trans       &trans       &trans
				&trans        &trans       &trans       &trans       &trans                                               &trans       &trans       &trans       &trans       &trans
				                                                                  &trans       &trans &trans &trans
				                                                     &trans       &trans       &trans &trans &trans       &trans
				                                                                               &trans &trans
			>;
		};
		layer_5 {
			bindings = <
				&sys_off
				&to LAYER_MAC &none          &none          &none           &none &none &none &none &none &none &none          &none          &none           &none
				&none         &none          &mmv MOVE_UP   &none           &none &none &none &none &none &none &none          &mmv MOVE_UP   &none           &none
				&none         &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none &none             &none &none &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none
				&none         &none          &none          &none           &none &none &none &none &none &none &none          &none          &none           &none
				&none         &none          &none          &none           &none                         &none &none          &none          &none           &none
				                                                                  &none &none &none &none
				                                                            &none &none &none &none &none &none
				                                                                        &none &none
			>;
		};
	};
};
